<template name="layout">
    <div class="container">
        <header class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <!-- {{pathFor}} is an Iron Router feature that let us point the path with the same route name - postList in this case -->
                <a class="navbar-brand" href="{{pathFor 'postsList'}}">Microscope</a>
            </div>
        </header>
        <div id="main">
            {{> yield}}
        </div>
    </div>
</template>